/* * {
    border: 1px solid red;
  } */
  
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  height: 100vh;
  background-color: #CBC3E3;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  margin: 0;
}

.user, 
.computer {
  background-color: #C3B1E1;
  width: 15vw;
  height: 100vh;
  text-align: center;
}

.center__play1, 
.center__play2 {
  width: 70vw;
  height: 40vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
}

h1 {
  font-size: 3vw;
  margin-bottom: 0px;
}

h2 {
  font-size: 1.7vw;
}

h1, h2 {
  text-align: center;
  color: white;
}

.center__difficult, 
.center__classic { 
  background-color: purple;
  width: 10em;
  color: white;
  font-size: 1.4vw;
  margin-bottom: 5vh;
}

.center__classic {
  height: 9em;
}

.center__difficult {
  height: 11em;
}

.center__fighter, 
.center__difficult, 
.center__classic, 
.user__reset {
  cursor: grab;
  transition: all .4s ease-in-out
}

.center__won, 
.center__lost, 
.center__draw, 
.center__fighter { 
  background-color: transparent;
  font-size: 12vw;
  border-radius: 90px;
  border: none;
}

.center__fighter:hover, .center__difficult:hover, .center__classic:hover, .user__reset:hover {
  transform: scale(1.3)
}

.user__reset {
  background-color: purple;
  color: white;
  width: 11vw;
  height: 5vh;
  font-size: 1vw;
  margin-top: 11em
}

@keyframes jumpJoy {
  0%   {transform: translate3d(0%,-40%,0) scale3d(1,1,1);}
  25%  {transform: scale3d(0.75,1,1);}
  50%  {transform: scale3d(0.6,1,1);}
  75%  {transform: scale3d(0.75,1,1);}
  100% {transform: translate3d(0%,-40%,0) scale3d(1,1,1);}
}

.center__won {
  transform-origin: 50%;
  animation: jumpJoy .5s infinite;
}

@keyframes sad {
  0% { transform: translate3d(0,10%,0) translate(0px, 0px) rotate(0deg); }
  100% { transform: translate3d(0,20%,0) translate(0px, 500px) rotate(90deg); }    
}

.center__lost, 
.center__draw {
  animation: sad 2.6s;
  animation-iteration-count: infinite;
}

