* {
    border: 1px solid red;
  }
  
  body {
    height: 100vh;
    width: 100vw;
    display: flex;
  }
  
  h1, h2 {
    text-align: center;
    color: white;
  }
  
  .user, .computer {
   background-color: #C3B1E1;
   width: 25vw;
   height: 100vh;
  }
  
  main {
    width: 50vw;
    height: 100vh;
    background-color: #CBC3E3;
  }