* {
  font-family: 'Khula', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  margin: 0;
}  

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  height: 100vh;
  background-color: #c66af0;
}

.user, 
.computer {
  background-color: #cc83ef;
  width: 15vw;
  height: 100vh;
  text-align: center;
}

.center__play1, 
.center__play2 {
  width: 70vw;
  max-height: 40vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
}

h1 {
  font-size: 3vw;
  margin-bottom: 0px;
  font-weight: 700;
}

h2 {
  font-weight: 300;
}

.user__name, .computer__name, .user__token, .computer__token, .center__status {
  font-size: 1.7vw;
}

.user__wins, .computer__wins {
  font-size: 1vw,
}

h1, h2 {
  text-align: center;
  color: white;
}

.center__difficult, 
.center__classic { 
  background-color: #aa49da;
  width: 10em;
  color: white;
  font-size: 1.3vw;
  margin: 3em;
}

.center__classic {
  height: 10em;
}

.center__difficult {
  height: 13em;
}

.center__fighter, 
.center__difficult, 
.center__classic, 
.user__reset {
  cursor: grab;
  transition: all .4s ease-in-out
}

.center__won, 
.center__lost, 
.center__draw, 
.center__fighter {
  background-color: transparent;
  font-size: 10vw;
  border-radius: 90px;
  border: none;
}

.center__fighter:hover, .center__difficult:hover, .center__classic:hover, .user__reset:hover {
  transform: scale(1.2)
}

.user__reset {
  background-color: #aa49da;
  color: white;
  width: 11vw;
  height: 5vh;
  font-size: 1.1vw;
  margin-top: 11em
}
.center__lost, 
.center__draw,
.center__won {
  margin-top: 1em;
}

@keyframes jumpJoy {
  0%   {transform: translate3d(0%,-40%,0) scale3d(1,1,1);}
  25%  {transform: scale3d(0.75,1,1);}
  50%  {transform: scale3d(0.6,1,1);}
  75%  {transform: scale3d(0.75,1,1);}
  100% {transform: translate3d(0%,-40%,0) scale3d(1,1,1);}
}

.center__won {
  transform-origin: 50%;
  animation: jumpJoy .6s infinite;
}

@keyframes sad {
  0% { transform: translate3d(0,15%,0); }
  100% { transform: translate3d(0,30%,0) translate(0px, 270px) rotate(120deg); }    
}

.center__lost {
  animation: sad 2.6s infinite;
}

@keyframes bleh {
  0% { transform: translate(-30px, 10px) rotate(-70deg); }
  25% { transform: translate(60px, -10px) rotate(70deg); }  
  50% { transform: translate(0px, 10px) rotate(-70deg); }
  75% { transform: translate(60px, -10px) rotate(70deg); }  
  100% { transform: translate(-30px, 10px) rotate(-70deg); }  
}

.center__draw {
  animation: bleh 2.6s infinite;
}

